<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryAssistant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/regular.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/solid.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <h1 class="navbar-brand"><span class="text-warning">WELCOME PICK A BOOK</span></h1>
            <div class="collapse navbar-collapse">
                <span class="navbar-nav ml-auto ">
                    <i class="fas fa-book fa-align-right fa-pull-right fa-5x "></i>
                </span>
            </div>
        </div>
    </nav>

    <section class="bg-dark text-warning p-5 text-left">
        <div class="container">
            <div class="d-sm-flex">
                <div>
                    <p>THERE IS NO KNOLEDGE <br /> THAT IS NOT POWER</p>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="img/books" alt="" />
            </div>
        </div>

    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark text-warning text-center">
        <div class="container">
            <p class="lead"> COPYRIGHT &copy; 2022 ASSESSMENT TEST</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
